@{
    ViewData["Title"] = "Dashboard";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's Dashboard policy.</p>
<a href="@Url.Action("Applyleave", "Leave")" class="btn btn-primary">Apply Leave</a>
